{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style='padding:20px; text-align:center;'>Active Listings</h2>

    <div class="listings">
      {% for item in active_listings %}
      <a class="card" href="/listing/{{item.id}}">
          <img src={{ item.image_url}} class="card-img-top" alt="Card image">
          <div class="card-content">
            <div class="card-text">
              <span class="card-title" style='font-size:24px;'><strong>{{item.name}}</strong></span>
              <span class="card-description">{{item.description}}</span>
            </div>
            <div class="card-price" style='font-size:24px;'><strong>{{ item.price }} $ </strong>
            </div>
          </div>
        </a>     
      {% endfor %}
    </div>
{% endblock %}